<link href="../polymer/polymer.html" rel="import">  

<link href="../paper-material/paper-material.html" rel="import">


<dom-module id="sar-card">
  <style is="custom-style">
    :host {
      margin: 2px;
      height: 390px;
      width: 280px;
      text-align: center;
      color: var(--sar-card-text-color);
    }
    #cover {
      height: 320px;
      box-sizing: border-box;
      display: inline-block;
    }
    #cover img {
      border: 0;
      height: 320px;
    }
  </style>
  <template>
    <paper-material id="cover" elevation="[[elevation]]" animated on-click="_onClick">
      <img src="[[review.cover]]">
    </paper-material>
    <div id="title">[[review.title]]</div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'sar-card',
    properties: {
      review: Object,
      elevation: {
        type: Number,
        value: 4
      }
    },
    _onClick: function(event) {
      //    qthis.elevation = 0;
      this.fire('card-click', { review: this.review,
                                cover: this.$.cover,
                                title: this.$.title });
    }
  });
</script>