<link href="../polymer/polymer.html" rel="import">

<link href="../iron-icon/iron-icon.html" rel="import">
<link href="../iron-icons/iron-icons.html" rel="import">
<link href="../neon-animation/neon-shared-element-animatable-behavior.html" rel="import">
<link href="../paper-button/paper-button.html" rel="import">
<link href="../paper-material/paper-material.html" rel="import">


<dom-module id="sar-review">
  <style is="custom-style">
    paper-button {
      color: var(--primary-text-color);
    }
    img {
      border: 0;
      height: 460px;
    }
    paper-material {
      float: right;
      height: 460px;
      box-sizing: border-box;
      display: inline-block;
    }
  </style>
  <template>
    <paper-button class="text" on-click="_onClick"><iron-icon icon="clear"></iron-icon></paper-button>
    <paper-material id="cover" elevation="[[elevation]]" animated="true">
      <img src="[[review.cover]]" on-click="_onClick">
    </paper-material>
    <div class="title text">[[review.title]]</div>
    <div class="text">[[review.review]]</div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'sar-review',
    behaviors: [
      Polymer.NeonSharedElementAnimatableBehavior
    ],
    properties: {
      review: Object,
      elevation: {
        type: Number,
        value: 4
      },
      sharedElements: {
        value: function() {
          return {
            'hero': this.$.cover
          }
        }
      },
      animationConfig: {
        value: function() {
          var text = Polymer.dom(this.root).querySelectorAll('.text');
          var textArray = Array.prototype.slice.call(text);
          return {
            'entry': [{
              name: 'hero-animation',
              id: 'hero',
              toPage: this,
              timing: {
                delay: 50
              }
            }, {
              name: 'cascaded-animation',
              animation: 'slide-from-left-animation',
              nodes: textArray,
              timing: {
                delay: 50
              }
            }],
            'exit': [{
              name: 'hero-animation',
              id: 'hero',
              fromPage: this,
              timing: {
                delay: 50
              }
            }, {
              name: 'slide-up-animation',
              node: this.$.cover
            }, {
              name: 'cascaded-animation',
              animation: 'slide-left-animation',
              nodes: textArray
            }]
          };
        }
      }
    },
    _onClick: function(event) {
      this.fire('exit-click');
    }
  });
</script>