<link href="../polymer/polymer.html" rel="import">

<link href="../iron-a11y-keys/iron-a11y-keys.html" rel="import">
<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../iron-icon/iron-icon.html" rel="import">
<link href="../iron-icons/av-icons.html" rel="import">
<link href="../iron-icons/iron-icons.html" rel="import">
<link href="../neon-animation/neon-shared-element-animatable-behavior.html" rel="import">
<link href="../paper-button/paper-button.html" rel="import">
<link href="../paper-material/paper-material.html" rel="import">
<link href="../paper-ripple/paper-ripple.html" rel="import">


<dom-module id="sar-review">
  <style is="custom-style">
    :host {
      box-sizing: content-box;
      @apply(--layout);
      @apply(--layout-fit);
      @apply(--layout-vertical);
    }
    #close {
      position: relative;
      color: var(--secondary-text-color);
      border-radius: 50%;
      width: 44px;
      height: 44px;
    }
    #close paper-material {
      border-radius: inherit;
      @apply(--layout-fit);
      @apply(--layout-vertical);
      @apply(--layout-center-center);
    }
    img {
      border: 0;
      height: 420px;
    }
    #cover {
      float: right;
      height: 420px;
      box-sizing: border-box;
      margin: 0 0 16px 20px;
    }
    #title {
      font-size: 28px;
    }
    #meta {
      @apply(--layout-horizontal);
      @apply(--layout-wrap);
    }
    .meta {
      margin: 0 5px;
    }
    #view_method {
      height: 16px;
    }
    .paper-header {
      padding: 0 6%;
      white-space: nowrap;
      @apply(--layout-horizontal);
    }
    #header {
      color: silver;
      font-size: 32px;
      font-family: 'PT Sans Narrow', 'Open Sans', Helvetica, Arial, sans-serif;
    }
    .content {
      padding: 0 6%;
      margin-top: 48px;
      margin-right: auto;
      margin-left: auto;
      max-width: 720px;
      min-width: 40px;
    }
    .pre {
      white-space: pre-wrap;
    }
  </style>
  <template>
    <iron-a11y-keys keys="esc" on-keys-pressed="_onClick" target="[[keyEventTarget]]"></iron-a11y-keys>
    <div class="paper-header">
      <div id="close" on-click="_onClick">
        <paper-ripple center></paper-ripple>
        <paper-material elevation="0">
          <iron-icon icon="arrow-back"></iron-icon>
        </paper-material>
      </div>
      <div id="header">Sexy Anime Reviews</div>
    </div>
    <div class="content">
      <div id="title" class="article">[[review.title]]</div>
      <div id="meta" class="article">
        <iron-icon id="view_method" icon="[[_viewMethodIcon(review)]]"></iron-icon>
        <div class="meta">[[review.rating]]</div>
        <template is="dom-repeat" items="[[_getGenreArray(review)]]">
          <div class="meta">[[item]]</div>
        </template>
      </div>
      <section>
        <paper-material id="cover" elevation="[[elevation]]" animated="">
          <img src="[[review.cover]]" on-click="_onClick">
        </paper-material>
        <br>
        <div class="article pre">[[review.review]]</div>
      </section>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'sar-review',
    behaviors: [
      Polymer.NeonSharedElementAnimatableBehavior
    ],
    properties: {
      review: Object,
      elevation: {
        type: Number,
        value: 4
      },
      keyEventTarget: {
        type: Object,
        value: function() { return document.body; }
      },
      sharedElements: {
        value: function() {
          return {
            'hero': this.$.cover,
            'hero-header': this.$.header
          }
        }
      },
      animationConfig: {
        value: function() {
          var article = Polymer.dom(this.root).querySelectorAll('.article');
          var articleArray = Array.prototype.slice.call(article);
          return {
            'entry': [{
              name: 'hero-animation',
              id: 'hero',
              toPage: this
            }, {
              name: 'cascaded-animation',
              animation: 'slide-from-left-animation',
              nodes: articleArray,
              timing: {
                delay: 100
              }
            }, {
              name: 'fade-in-animation',
              node: this.$.close
            }, {
              name: 'hero-animation',
              id: 'hero-header',
              toPage: this,
              node: this.$.header
            }],
            'exit': [{
              name: 'hero-animation',
              id: 'hero',
              fromPage: this
            }, {
              name: 'cascaded-animation',
              animation: 'slide-left-animation',
              nodes: articleArray
            }, {
              name: 'fade-out-animation',
              node: this.$.close
            }, {
              name: 'hero-animation',
              id: 'hero-header',
              fromPage: this,
              node: this.$.header
            }]
          };
        }
      }
    },
    _onClick: function(event) {
      this.fire('exit-click');
    },
    _viewMethodIcon: function(review) {
      if (review.viewMethod === 'dub') {
        return 'av:mic';
      } else if (review.viewMethod === 'sub') {
        return 'av:subtitles';
      } else {
        return 'av:not-interested';
      }
    },
    _getGenreArray: function(review) {
      var genres = review.genres || {};
      return Object.keys(genres);
    }
  });
</script>