<link href="../polymer/polymer.html" rel="import">

<link href="../firebase-element/firebase-collection.html" rel="import">

<link href="../sar/sar-card.html" rel="import">


<dom-module id="sar-card-container">
  <style is="custom-style">
  </style>
  <template>
      <firebase-collection
          order-by-child="title"
          log="true"
          location="https://sexy-anime-reviews.firebaseio.com/reviews"
          data="{{reviews}}"></firebase-collection>
      <template is="dom-repeat" items="[[reviews]]">
        <sar-card review="[[item]]"></sar-card>
      </template>
  </template>
</dom-module>

<script>
</script>
<script>
  Polymer({
    is: 'sar-card-container',
    properties: {
      reviews: Object
    }
  });
</script>