<link href="../polymer/polymer.html" rel="import">

<link href="../neon-animation/neon-shared-element-animatable-behavior.html" rel="import">


<dom-module id="sar-review">
  <style is="custom-style">
    img {
      border: 0;
      height: 460px;
      float: right;
    }
  </style>
  <template>
    <img src="{{review.cover}}" id="cover">
    <div class="title text">{{review.title}}</div>
    <div class="text">{{review.review}}</div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'sar-review',
    behaviors: [
      Polymer.NeonSharedElementAnimatableBehavior
    ],
    properties: {
      review: Object,
      sharedElements: {
        value: function() {
          return {
            'hero': this.$.cover
          }
        }
      },
      animationConfig: {
        value: function() {
          var text = Polymer.dom(this.root).querySelectorAll('.text');
          var textArray = Array.prototype.slice.call(text);
          return {
            'entry': [{
              name: 'hero-animation',
              id: 'hero',
              toPage: this
            }, {
              name: 'cascaded-animation',
              animation: 'transform-animation',
              transformFrom: 'translateY(100%)',
              nodes: textArray
            }],
            'exit': [{
              name: 'slide-up-animation',
              node: this.$.cover
            }, {
              name: 'cascaded-animation',
              animation: 'transform-animation',
              transformTo: 'translateY(60vh)',
              nodes: textArray
            }]
          };
        }
      }
    }
  });
</script>