<link href="../polymer/polymer.html" rel="import">  

<link href="../paper-material/paper-material.html" rel="import">


<dom-module id="sar-card">
  <style is="custom-style">
    :host {
      margin: 2px;
      height: 390px;
      width: 280px;
      text-align: center;
      color: var(--sar-card-text-color);
    }
    img {
      border: 0;
      height: 320px;
    }
    #cover {
      height: 320px;
      box-sizing: border-box;
      display: inline-block;
    }
    #title {
      margin-top: 10px;
      padding: 4px 14px;
      box-sizing: border-box;
      display: inline-block;
      border-radius: 3px;
      @apply(--sar-card-caption-theme)
    }
  </style>
  <template>
    <paper-material id="cover" elevation="[[elevation]]" animated="true" on-click="_onClick">
      <img src="[[review.cover]]">
    </paper-material>
    <paper-material id="title" elevation="[[elevation]]" on-click="_onClick">[[review.title]]</paper-material>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'sar-card',
    properties: {
      review: Object,
      elevation: {
        type: Number,
        value: 4
      }
    },
    _onClick: function(event) {
      this.elevation = 0;
      this.fire('card-click', { review: this.review,
                                cover: this.$.cover,
                                title: this.$.title });
    }
  });
</script>