<link href="../polymer/polymer.html" rel="import">

<link rel="import" href="../polymerfire/firebase-app.html">
<link rel="import" href="../polymerfire/firebase-auth.html">
<link rel="import" href="../polymerfire/firebase-database-script.html">
<link rel="import" href="../polymerfire/firebase-storage-script.html">
<link rel="import" href="../file-input/file-input.html">
<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../iron-icon/iron-icon.html" rel="import">
<link href="../iron-icons/av-icons.html" rel="import">
<link href="../iron-icons/iron-icons.html" rel="import">
<link href="../neon-animation/neon-shared-element-animatable-behavior.html" rel="import">
<link href="../paper-button/paper-button.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">
<link href="../paper-input/paper-textarea.html" rel="import">
<link href="../paper-material/paper-material.html" rel="import">
<link href="../paper-radio-button/paper-radio-button.html" rel="import">
<link href="../paper-radio-group/paper-radio-group.html" rel="import">
<link href="../paper-ripple/paper-ripple.html" rel="import">
<link href="../paper-select/paper-select.html" rel="import">
<link href="../paper-toast/paper-toast.html" rel="import">

<link href="../sar/sar-rating-slider.html" rel="import">


<dom-module id="sar-author-form">
  <style is="custom-style">
    :host {
      @apply(--layout-center-justified);
    }
    .paper-header {
      white-space: nowrap;
      @apply(--layout);
    }
    #header {
      color: silver;
      font-size: 32px;
      font-family: 'PT Sans Narrow', 'Open Sans', Helvetica, Arial, sans-serif;
    }
    #card {
      padding: 20px 48px 40px;
      margin-bottom: 48px;
    }
    .horizontal {
      @apply(--layout-horizontal);
    }
    .vertical {
      @apply(--layout-vertical);
    }
    .reverse {
      @apply(--layout);
      @apply(--layout-horizontal-reverse);
    }
    paper-button {
      background: var(--accent-color);
    }
  </style>
  <template>
    <firebase-app app="{{firebase}}"
                  auth-domain="sexy-anime-reviews.firebaseapp.com"
                  database-url="https://sexy-anime-reviews.firebaseio.com"
                  api-key="AIzaSyAocDkU-CPiuuPMv-qlBlkrz8LISeT64Iw"
                  storage-bucket="firebase-sexy-anime-reviews.appspot.com"
                  messaging-sender-id="927545895739"></firebase-app>
    <firebase-auth id="auth" provider="google"></firebase-auth>
    <div class="paper-header">
      <div id="header">Sexy Anime Reviews</div>
    </div>
    <br>
    <paper-material id="card" elevation="2">
      <paper-input label="Title" value="{{title}}"></paper-input>
      <paper-button raised on-click="_uploadCover">
        <file-input accept="image/*" invalidText="Invalid Image" on-change="_uploadCover">Upload Cover Image</file-input>
      </paper-button>
      <paper-select label="Genres" bind-value="{{genres}}" on-input-changed="_genreInputChanged" multiple nonmatching unique></paper-select>
      <paper-radio-group class="horizontal" selected="{{viewMethod}}">
        <paper-radio-button name="dub">Dub</paper-radio-button>
        <paper-radio-button name="sub">Sub</paper-radio-button>
      </paper-radio-group>
      <sar-rating-slider rating="{{rating}}"></sar-rating-slider>
      <paper-textarea label="Review" value="{{review}}"></paper-textarea>
      <br>
      <div class="reverse">
        <paper-button raised on-click="_onClick">Submit</paper-button>
      </div>
    </paper-material>
    <paper-toast id="toast"></paper-toast>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'sar-author-form',
    properties: {
      title: String,
      rating: String,
      cover: Object,
      ratingNum: Number,
      genres: Array,
      viewMethod: String,
      review: String,
      reviews: {
        type: Object,
        observer: '_reviewsChanged'
      },
      tags: Array
    },
    _saveReview: function(authInfo) {
      let token = authInfo.credential.accessToken;
      let user = authInfo.user;
      if (!this.title) return;
      let key = this.title;
      let review = {
        'title': this.title,
        'rating': this.rating,
        'genres': this.genres.reduce(function(obj, val) { obj[val] = val; return obj; }, {}),
        'viewMethod': this.viewMethod,
        'review': this.review
      };
      // upload cover image first
      let uploadTask = this.firebase.storage().ref('covers').child(key).put(this.cover);
      uploadTask.on('state_changed',
        function progress(snapshot) {
          var percentage = snapshot.bytesTransferred / snapshot.totalBytes * 100;
          console.info(percentage + '%');
          // TODO uploader.value = percentage;
        },
        function error(err) {
          console.warn('Unable to upload cover image file.');
          console.error(err);
        },
        function complete() {
          console.info('Cover image upload completed.');
          review.cover = uploadTask.snapshot.downloadURL;
          this.firebase.database().ref('reviews').child(this.title).set(review)
              .then(function() {
                console.log('Synchronization succeeded');
                this.$.toast.text = 'Review saved successfully.';
                this.$.toast.show();
              }.bind(this))
              .catch(function(error) {
                console.warn('Synchronization failed');
                this.$.toast.text = 'Failed to save review.';
                this.$.toast.show();
                console.error(error);
              }.bind(this));
          this.title = '';
          this.genres = [];
          this.review = '';
          this.cover = null;
        }.bind(this)
      );
    },
    _onClick: function(event) {
      this.$.auth.signInWithPopup('google').then(this._saveReview.bind(this)).catch(function(err) {
        console.warn('Authentication failed.');
        console.warn(err);
        this.$.toast.text = 'Review could not be saved.';
        this.$.toast.show();
      }.bind(this));
    },
    _reviewsChanged: function(newValue, oldValue) {
      var tags = {};
      for (var key in this.reviews) {
        var genres = this.reviews[key].genres;
        for (var genre in genres) {
          tags[genre] = true;
        }
      }
      var options = [];
      for (var key in tags) {
        options.push(key);
      }
      this.tags = options;
    },
    _genreInputChanged: function(event) {
      var input = (event.detail.value || '').trim().toLowerCase();
      if (input)
        event.target.options = this.tags.filter(function(tag) {
            return tag.toLowerCase().indexOf(input) === 0;
          });
      else
        event.target.options = [];
    },
    _uploadCover: function(e) {
      var valid = e.detail.valid,
          invalid = e.detail.invalid;
      if (valid.length) {
        this.cover = valid[0];
        // display cover
      }
    },
  });
</script>