<link href="../polymer/polymer.html" rel="import">  

<link href="../paper-material/paper-material.html" rel="import">


<dom-module id="sar-card">
  <style is="custom-style">
    paper-material section {
      height: 320px;
      width: 256px;
      @apply(--sar-card-theme)
    }
  </style>
  <template>
    <paper-material elevation="5">
      <section>
        <span>{{review.title}}</span>
      </section>
    </paper-material>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'sar-card',
    properties: {
      review: Object
    }
  });
</script>