<link href="../polymer/polymer.html" rel="import">

<link href="../firebase-element/firebase-document.html" rel="import">
<link href="../iron-flex-layout/iron-flex-layout.html" rel="import">
<link href="../iron-icon/iron-icon.html" rel="import">
<link href="../iron-icons/av-icons.html" rel="import">
<link href="../iron-icons/iron-icons.html" rel="import">
<link href="../neon-animation/neon-shared-element-animatable-behavior.html" rel="import">
<link href="../paper-button/paper-button.html" rel="import">
<link href="../paper-input/paper-input.html" rel="import">
<link href="../paper-input/paper-textarea.html" rel="import">
<link href="../paper-material/paper-material.html" rel="import">
<link href="../paper-radio-button/paper-radio-button.html" rel="import">
<link href="../paper-radio-group/paper-radio-group.html" rel="import">
<link href="../paper-ripple/paper-ripple.html" rel="import">
<link href="../paper-select/paper-select.html" rel="import">

<link href="../sar/sar-rating-slider.html" rel="import">


<dom-module id="sar-author-form">
  <style is="custom-style">
    .paper-header {
      white-space: nowrap;
      @apply(--layout);
    }
    #header {
      color: silver;
      font-size: 32px;
      font-family: 'PT Sans Narrow', 'Open Sans', Helvetica, Arial, sans-serif;
    }
    #card {
      padding: 20px 48px 40px;
      margin-bottom: 48px;
    }
    .horizontal {
      @apply(--layout-horizontal);
    }
    .vertical {
      @apply(--layout-vertical);
    }
    .reverse {
      @apply(--layout);
      @apply(--layout-horizontal-reverse);
    }
    paper-button {
      background: var(--accent-color);
    }
  </style>
  <template>
    <firebase-document
        log="true"
        location="https://sexy-anime-reviews.firebaseio.com/reviews"
        data="{{reviews}}"></firebase-document>
    <div class="paper-header">
      <div id="header">Sexy Anime Reviews</div>
    </div>
    <br>
    <paper-material id="card" elevation="2">
      <paper-input label="Title" value="{{title}}"></paper-input>
      <paper-input label="Cover URL" value="{{cover}}"></paper-input>
      <paper-select label="Genres" bind-value="{{genres}}" on-input-changed="_genreInputChanged" multiple nonmatching unique></paper-select>
      <paper-radio-group class="horizontal" selected="{{viewMethod}}">
        <paper-radio-button name="dub">Dub</paper-radio-button>
        <paper-radio-button name="sub">Sub</paper-radio-button>
      </paper-radio-group>
      <sar-rating-slider rating="{{rating}}"></sar-rating-slider>
      <paper-textarea label="Review" value="{{review}}"></paper-textarea>
      <br>
      <div class="reverse">
        <paper-button raised on-click="_onClick">Submit</paper-button>
      </div>
    </paper-material>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'sar-author-form',
    properties: {
      title: String,
      rating: String,
      cover: String,
      ratingNum: Number,
      genres: Array,
      viewMethod: String,
      review: String,
      reviews: {
        type: Object,
        observer: '_reviewsChanged'
      },
      tags: Array
    },
    _onClick: function(event) {
      var ref = new Firebase('https://sexy-anime-reviews.firebaseio.com');
      ref.authWithOAuthPopup('google', function(error, authData) {
        if (error) {
          window.console.log('Login Failed!', error);
        } else {
          window.console.log('Authenticated successfully with payload:', authData);
          var reviewsRef = ref.child('reviews');
          var review = {};
          review[this.title] = {
              'title': this.title,
              'rating': this.rating,
              'cover': this.cover,
              'genres': this.genres.reduce(function(obj, val) { obj[val] = val; return obj; }, {}),
              'viewMethod': this.viewMethod,
              'review': this.review
            };
          reviewsRef.update(review);
        }
      }.bind(this));
    },
    _reviewsChanged: function(newValue, oldValue) {
      var tags = {};
      for (var key in this.reviews) {
        var genres = this.reviews[key].genres;
        for (var genre in genres) {
          tags[genre] = true;
        }
      }
      var options = [];
      for (var key in tags) {
        options.push(key);
      }
      this.tags = options;
    },
    _genreInputChanged: function(event) {
      var input = (event.detail.value || '').trim().toLowerCase();
      if (input)
        event.target.options = this.tags.filter(function(tag) {
            return tag.toLowerCase().indexOf(input) === 0;
          });
      else
        event.target.options = [];
    }
  });
</script>